@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
:root {
    --purple: #3c1d51;
    --logopurple:  #7c51a0; 
    --darkpurple: #220d30;
    --orange:  #f68e21;
   --lightorange:#f8b864;
}
* {
  margin: 0;
  padding: 0;
}
/* jumbotron section */
.jumbotron {
    position: relative;
  background-image: url("/assets/bbq-hero-img.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 0px !important;
  margin: 0;
}
.jumbotron h1 {
  margin: 20px 0;
  font-size: 30px;
  line-height: 1.5;
}
.intro {
  position:absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(48, 6, 49, 0.774);
}
.logo {
  width: 450px;
}
img.logo{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

/* navbar section */
.navbar {
  background-color: var(--purple);
}
.nav-item a {
  color: var(--orange);
  margin: 0 20px;
  margin-top: 30px;
}
.navbar-brand {
  color: whitesmoke;
}

/* About Section */
.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 20%;
}
.about h2{
    font-family: 'Pacifico', sans-serif;
    margin: 25px;
    font-size: 4rem;
    text-align: center;
    color: var(--purple);
}
.about .desc{
    padding: 2em;
    border-left: 4px solid var(--orange);
}


.main-header {
  font-family: "Pacifico", sans-serif;
  padding: 20px;
  color: var(--orange);
  margin-bottom: 20px;
}

.party-packs {
  margin-top: 20px;
  color: white;
  background-color: var(--purple);
}
.pack-headers {
  font-family: "Pacifico", sans-serif;
  color: var(--orange);
  padding-bottom: 20px;
}

.list-group ul {
  padding: 10px;

  width: 40%;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}

li {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
}

.choices {
  background-color: var(--logopurple);
  padding-bottom: 50px;
}

h1,
h3,
h2 {
  font-family: "Alata", sans-serif;
}

/* new menu */
.newmenu{
    background-color: rgb(56, 161, 209);
    width: 100%;
    padding: 20px;
}





.alacarte-menu {
  background-color: var(--orange);
}
.ala-header{
    background-color: var(--orange);
    font-family: "Pacifico";
}
.alacarte-menu .ala-header {
  color: white;
  font-family: "Pacifico", sans-serif;
  font-size: 5em;
}

.alachoices {
    background-color: var(--lightorange);
    padding-bottom: 50px;
  }
/* contact section */
.contact-header {
  font-family: "Pacifico", sans-serif;
  letter-spacing: 2px;
  font-size: 4em;
}
#contact {
    background-color: var(--purple);
    color: whitesmoke;
  }
  #mail-address {
    list-style-type: none;
  }
span {
  color: var(--orange);
}
span a {
  color:var(--orange);
  text-decoration: none;
}

.btn {
  background-color:var(--orange);
  color: white;
  font-family: "alata", sans-serif;
  font-size: 1.5em;
}
.btn:hover {
  background-color:var(--lightorange);
}
.footer {
  background-color:var(--darkpurple);
  color: whitesmoke;
  padding: 5px;
  text-align: center;
}

