@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
:root {
    --purple: #3c1d51;
    --logopurple:  #7c51a0; 
    --darkpurple: #220d30;
    --orange:  #f68e21;
   --lightorange:#f8b864;

   --displayfont: "Pacifico", sans-serif;
   --sansfont : "alata", sans-serif;
}
html  {

  overflow-x: hidden; 

}
* {
  margin: 0;
  padding: 0;
}
/* jumbotron section */
.jumbotron {
    position: relative;
  background-image: url("/assets/bbq-hero-img.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 0px !important;
  margin: 0;
}
.jumbotron h1 {
  margin: 20px 0;
  font-size: 30px;
  line-height: 1.5;
}
.intro {
  position:absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(48, 6, 49, 0.774);
}
.logo {
  width: 450px;
}
img.logo{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}
.hero-btn{
  background-color:var(--orange);
  font-family: var(--sansfont);
  font-size: 1.5em;
}
/* navbar section */
.navbar {
  background-color: var(--purple);
  font-family: var(--sansfont);
}
.nav-item a {
  color: var(--orange);
  font-size: 1.5rem;
  margin: 0 20px;
  margin-top: 30px;
}
.navbar-brand {
  color: whitesmoke;
}

/* About Section */
.about{

    padding: 2.5em;
    position: relative;
    background-color: var(--logopurple);
}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 20%;
    border: 3px solid var(--orange);
}
.about h2{
    font-family: 'Pacifico', sans-serif;
    margin: 25px;
    font-size: 4.5rem;
    text-align: center;
    color: var(--orange);
}
.desc{
  font-size: 1.5rem;
  text-align: center;
  font-family: "Alata", sans-serif;
  color: white;

}
.about .desc{
    padding: 2em;
  
    line-height: 3rem;
}

/* main menu */

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
 
}
.menu-header{
  font-family: var(--displayfont);
  background-color: var(--orange);
  margin-bottom: 50px;
}

.menu-item{
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  font-family: var(--sansfont);
  color: var(--logopurple)
}
.menu-item h4{
  display: inline-block;
  padding-right: 8px;
  font-size: 2rem;
  max-width: 80%;
  text-transform: capitalize;
  margin-bottom: 4px;
  position: relative;
}

.price{
  text-transform: capitalize;
  font-size: 1.8rem;
  padding-left: 48px;
  z-index: 0;
}

/* Sandwich pack */

.sandwich-menu{
  background-color: var(--darkpurple);
  color: var(--orange)
}

.sandwich-header {
  font-family: var(--displayfont);
  padding: 50px;
  color: var(--orange);
  margin-bottom: 20px;
}
.blurb{
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--lightorange);
}

.choices {
  background-color: var(--darkpurple);
  font-family: var(--sansfont);
  padding-bottom: 50px;
}

.pack-title{
  font-family: var(--sansfont);
  color:var(--lightorange);
}
.pack-price{
  font-size: 2.5rem;
  margin-bottom: 20px;;
}

.list-group ul {
  padding: 10px;
  width: 40%;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}

.list-group-item{
  background-color: var(--logopurple);
  color: var(--lightorange);
  font-size: 1.5rem;
}






h1 {
  font-family: var(--displayfont);
}
h3,
h2 {
  font-family: var(--sansfont)
}




/* span {
  color: var(--orange);
}
span a {
  color:var(--orange);
  text-decoration: none;
} */

.footer {
  background-color:var(--darkpurple);
  color: whitesmoke;
  padding: 5px;
  text-align: center;
}

/* Gallery */
.gallery-wrapper{
  background-color: var(--orange);
  padding: 20px;
}
.gallery-header{
  font-family: var(--displayfont);
  color: white;
  padding-bottom: 20px;

}
.collage > div {
  padding: 0 4px !important;
}
.img-fluid{
  margin-top: 8px;
  border: 5px solid var(--logopurple);
}

/* new contact form */
.contact-form{
  background-color: var(--darkpurple);
  font-family: var(--sansfont);
  color: var(--lightorange);
}
.contact-form h2{
  color:var(--orange);
  font-family: var(--displayfont);
  font-size: 4.5rem;
}
.contact-form label{
  padding-top: 5px;
}
.contact-form a{
  text-decoration: none;
  color: var(--orange);
}
.contact-form a:hover{

  color: var(--lightorange);
}

.contact-form .btn{
  color: white;  
  background-color:var(--orange);
  font-family: var(--sansfont);
  font-size: 1.5em;
}
.contact-form .btn:hover{
  color: white;  background-color:var(--lightorange);
}